[submodule "idf-project/components/arduino"]
	path = idf-project/components/arduino
	url = https://github.com/espressif/arduino-esp32.git
[submodule "idf-project/components/esp_littlefs"]
	path = idf-project/components/esp_littlefs
	url = https://github.com/joltwallet/esp_littlefs.git
